body {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h1,
h2,
h3 {
  letter-spacing: 0.35rem;
  max-width: 100% !important;
}

button:hover,
button:active,
a:hover,
a:active,
input:hover,
input:active,
input:focus,
select:hover,
select:focus,
select:active {
  cursor: url('../../public/assets/cursors/FF9Cursor.png') 12 2, auto;
}

ul {
  list-style-image: url('../../public/assets/icons/phoenix-down-icon.png');
}

ul li {
  margin-left: 20px;
}

p a,
li a {
  text-decoration: underline;
  text-decoration-color: rgb(20, 123, 220);
}

p a:hover,
li a:hover {
  color: rgb(20, 123, 220);
}

nav ol li {
  list-style-type: none;
}

nav ol {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

#nprogress .bar {
  height: 10px !important;
  background-color: linear(90deg, #4a6db9 0%, #173a86 100%);
}

.overlay-img {
  opacity: 0.1;
  z-index: -100;
}

.overlay-img-round {
  opacity: 0.4;
  z-index: -100;
  border-radius: 24px;
}
