@font-face {
  font-family: 'FinalFantasyFont';
  src: url('../../public/assets/font/Highwind.ttf') format('truetype');
}

button:hover,
button:active,
a:hover,
a:active,
input:hover,
input:active,
input:focus,
select:hover,
select:focus,
select:active {
  cursor: url('../../public/assets/cursors/FF9Cursor.png') 12 2, auto;
}

ul {
  list-style-image: url('../../public/assets/icons/phoenix-down-icon.png');
}

ul li {
  margin-left: 20px;
}

p a,
li a {
  text-decoration: underline !important;
}

p a:hover,
li a:hover {
  text-decoration: underline !important;
  text-decoration-color: rgb(20, 183, 220) !important;
}

nav ol li {
  list-style-type: none;
}

nav ol {
  margin: 0;
  padding: 0;
  display: inline-flex;
}
